<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"]</title>

    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/style.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/OffshoreTrack.styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">
</head>
<body>

    <header id="header" class="header fixed-top d-flex align-items-center d-print-none">

        <div class="d-flex align-items-center justify-content-between">
            <a asp-controller="Home" asp-action="Index" class="logo d-flex align-items-center">
                <img src="~/images/offshorelogo.png" width="110px" style="margin-left: 70px;">
                <span class="d-none d-lg-block"></span>
            </a>
            <i class="bi bi-list toggle-sidebar-btn" id="toggle-sidebar-btn"></i>

        </div>

        <nav class="header-nav ms-auto">
            <ul class="d-flex align-items-center">

                <li class="nav-item dropdown pe-3">
                    <a class="nav-link nav-profile d-flex align-items-center pe-0" href="#" data-bs-toggle="dropdown">
                        <span class="d-none d-md-block dropdown-toggle ps-2"></span>
                    </a>
                    <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow profile">
                        <li class="dropdown-header">
                            <h6></h6>
                        </li>
                        <li class="dropdown-item"> <b>Permissão:</b>permisao</li>
                        <li>
                            <a class="dropdown-item rounded-2"><i class="bi bi-box-arrow-right"></i>Logout</a>
                        </li>
                    </ul>
                </li>
            </ul>
        </nav>
    </header>

    <aside id="sidebar" class="sidebar">
        <ul class="sidebar-nav" id="sidebar-nav">

            <li class="nav-item">
                <a class="nav-link" asp-area="" asp-controller="Home" asp-action="Index"><i class="bi bi-speedometer2"></i>Dashboard</a>
            </li>

            <!-- Cliente -->
            <li class="nav-item">
                <a class="nav-link collapsed" data-bs-target="#cliente_nav" data-bs-toggle="collapse" href="#">
                    <i class="bi bi-buildings"></i><span>Cliente</span><i class="bi bi-chevron-down ms-auto"></i>
                </a>
                <ul id="cliente_nav" class="nav-content collapse" data-bs-parent="#sidebar-nav">
                    <li class="nav-item"><a class="nav-link" asp-area="" asp-controller="Cliente" asp-action="Index">Lista</a></li>
                    <li class="nav-item"><a class="nav-link" asp-area="" asp-controller="Cliente" asp-action="New">Novo</a></li>
                </ul>
            </li>
            <!-- Fim - Cliente -->
            <!-- Criticidade -->
            <li class="nav-item">
                <a class="nav-link collapsed" data-bs-target="#criticidade_nav" data-bs-toggle="collapse" href="#">
                    <i class="bi bi-exclamation-circle"></i><span>Criticidade</span><i class="bi bi-chevron-down ms-auto"></i>
                </a>
                <ul id="criticidade_nav" class="nav-content collapse" data-bs-parent="#sidebar-nav">
                    <li class="nav-item"><a class="nav-link" asp-area="" asp-controller="Criticidade" asp-action="Index">Lista</a></li>
                    <li class="nav-item"><a class="nav-link" asp-area="" asp-controller="Criticidade" asp-action="New">Novo</a></li>
                </ul>
            </li>
            <!-- Fim - Criticidade -->
            <!-- Fornecedores -->
            <li class="nav-item">
                <a class="nav-link collapsed" data-bs-target="#fornecedor_nav" data-bs-toggle="collapse" href="#">
                    <i class="bi bi-bag"></i><span>Fornecedor</span><i class="bi bi-chevron-down ms-auto"></i>
                </a>
                <ul id="fornecedor_nav" class="nav-content collapse" data-bs-parent="#sidebar-nav">
                    <li class="nav-item"><a class="nav-link" asp-area="" asp-controller="Fornecedor" asp-action="Index">Lista</a></li>
                    <li class="nav-item"><a class="nav-link" asp-area="" asp-controller="Fornecedor" asp-action="New">Novo</a></li>
                </ul>
            </li>
            <!-- Fim - Fornecedores -->
            <!-- Local -->
            <li class="nav-item">
                <a class="nav-link collapsed" data-bs-target="#local_nav" data-bs-toggle="collapse" href="#">
                    <i class="bi bi-geo-alt"></i><span>Local</span><i class="bi bi-chevron-down ms-auto"></i>
                </a>
                <ul id="local_nav" class="nav-content collapse" data-bs-parent="#sidebar-nav">
                    <li class="nav-item"><a class="nav-link" asp-area="" asp-controller="Local" asp-action="Index">Lista</a></li>
                    <li class="nav-item"><a class="nav-link" asp-area="" asp-controller="Local" asp-action="New">Novo</a></li>
                </ul>
            </li>
            <!-- Fim - Local -->
            <!-- Manutenção -->
            <li class="nav-item">
                <a class="nav-link collapsed" data-bs-target="#manutencao_nav" data-bs-toggle="collapse" href="#">
                    <i class="bi bi-hammer"></i><span>Manutenção</span><i class="bi bi-chevron-down ms-auto"></i>
                </a>
                <ul id="manutencao_nav" class="nav-content collapse" data-bs-parent="#sidebar-nav">
                    <li class="nav-item"><a class="nav-link" asp-area="" asp-controller="Manutencao" asp-action="Index">Lista</a></li>
                    <li class="nav-item"><a class="nav-link" asp-area="" asp-controller="Manutencao" asp-action="New">Novo</a></li>
                </ul>
            </li>
            <!-- Fim - Manutenção -->
            <!-- Material -->
            <li class="nav-item">
                <a class="nav-link collapsed" data-bs-target="#material_nav" data-bs-toggle="collapse" href="#">
                    <i class="bi bi-box-seam"></i><span>Material</span><i class="bi bi-chevron-down ms-auto"></i>
                </a>
                <ul id="material_nav" class="nav-content collapse" data-bs-parent="#sidebar-nav">
                    <li class="nav-item"><a class="nav-link" asp-area="" asp-controller="Material" asp-action="Index">Lista</a></li>
                    <li class="nav-item"><a class="nav-link" asp-area="" asp-controller="Material" asp-action="New">Novo</a></li>
                </ul>
            </li>
            <!-- Fim - Material -->
            <!-- Ordem de Compra -->
            <li class="nav-item">
                <a class="nav-link collapsed" data-bs-target="#oc_nav" data-bs-toggle="collapse" href="#">
                    <i class="bi bi-coin"></i><span>Ordem de Compra</span><i class="bi bi-chevron-down ms-auto"></i>
                </a>
                <ul id="oc_nav" class="nav-content collapse" data-bs-parent="#sidebar-nav">
                    <li class="nav-item"><a class="nav-link" asp-area="" asp-controller="OrdemCompra" asp-action="Index">Lista</a></li>
                    <li class="nav-item"><a class="nav-link" asp-area="" asp-controller="OrdemCompra" asp-action="New">Novo</a></li>
                </ul>
            </li>
            <!-- Fim - Ordem de Compra -->
            <!-- Parte Solta -->
            <li class="nav-item">
                <a class="nav-link collapsed" data-bs-target="#ps_nav" data-bs-toggle="collapse" href="#">
                    <i class="bi bi-boxes"></i><span>Parte Solta</span><i class="bi bi-chevron-down ms-auto"></i>
                </a>
                <ul id="ps_nav" class="nav-content collapse" data-bs-parent="#sidebar-nav">
                    <li class="nav-item"><a class="nav-link" asp-area="" asp-controller="ParteSolta" asp-action="Index">Lista</a></li>
                    <li class="nav-item"><a class="nav-link" asp-area="" asp-controller="ParteSolta" asp-action="New">Novo</a></li>
                </ul>
            </li>
            <!-- Fim - Parte Solta -->
            <!-- Rateio -->
            <li class="nav-item">
                <a class="nav-link collapsed" data-bs-target="#rateio_nav" data-bs-toggle="collapse" href="#">
                    <i class="bi bi-percent"></i><span>Rateio</span><i class="bi bi-chevron-down ms-auto"></i>
                </a>
                <ul id="rateio_nav" class="nav-content collapse" data-bs-parent="#sidebar-nav">
                    <li class="nav-item"><a class="nav-link" asp-area="" asp-controller="Rateio" asp-action="Index">Lista</a></li>
                    <li class="nav-item"><a class="nav-link" asp-area="" asp-controller="Rateio" asp-action="New">Novo</a></li>
                </ul>
            </li>
            <!-- Fim - Rateio -->
            <!-- Setor -->
            <li class="nav-item">
                <a class="nav-link collapsed" data-bs-target="#setor_nav" data-bs-toggle="collapse" href="#">
                    <i class="bi bi-people-fill"></i><span>Setor</span><i class="bi bi-chevron-down ms-auto"></i>
                </a>
                <ul id="setor_nav" class="nav-content collapse" data-bs-parent="#sidebar-nav">
                    <li class="nav-item"><a class="nav-link" asp-area="" asp-controller="Setor" asp-action="Index">Lista</a></li>
                    <li class="nav-item"><a class="nav-link" asp-area="" asp-controller="Setor" asp-action="New">Novo</a></li>
                </ul>
            </li>
            <!-- Fim - Setor -->
            <!-- Tipo -->
            <li class="nav-item">
                <a class="nav-link collapsed" data-bs-target="#tipo_nav" data-bs-toggle="collapse" href="#">
                    <i class="bi bi-collection"></i><span>Tipo</span><i class="bi bi-chevron-down ms-auto"></i>
                </a>
                <ul id="tipo_nav" class="nav-content collapse" data-bs-parent="#sidebar-nav">
                    <li class="nav-item"><a class="nav-link" asp-area="" asp-controller="Tipo" asp-action="Index">Lista</a></li>
                    <li class="nav-item"><a class="nav-link" asp-area="" asp-controller="Tipo" asp-action="New">Novo</a></li>
                </ul>
            </li>
            <!-- Fim - Tipo -->
            
            <!-- Configurações-->
            <li class="nav-item">
                <a class="nav-link collapsed" data-bs-target="#config_nav" data-bs-toggle="collapse" href="#">
                    <i class="bi bi-gear"></i><span>Configuração</span><i class="bi bi-chevron-down ms-auto"></i>
                </a>
                <ul id="config_nav" class="nav-content collapse" data-bs-parent="#sidebar-nav">
                    <li class="nav-item"><a class="nav-link" asp-area="" asp-controller="Usuario" asp-action="Index">Configuração de Usuários</a></li>
                    <li class="nav-item"><a class="nav-link" asp-area="" asp-controller="Permissao" asp-action="Index">Configuração de Permisão</a></li>
                    <li class="nav-item"><a class="nav-link" asp-area="" asp-controller="Status" asp-action="Index">Configuração de Status</a></li>
                </ul>
            </li>
            <!-- Fim - Configurações -->


        </ul>
    </aside>

    <main id="main" class="main">
        <div class="container-fluid px-4">
            @RenderBody()
        </div>
    </main>


    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    <script src="~/lib/jquery.mask.js"></script>
    <script src="~/lib/jquery-mask-plugin/src/jquery.mask.js" type="text/javascript" asp-append-version="true"></script>

    <script src="https://cdn.rawgit.com/davidshimjs/qrcodejs/gh-pages/qrcode.min.js"></script>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>