@model OffshoreTrack.Models.Setor

@{
    ViewData["Title"] = "Read";
}

<div class="pagetitle">
    <div class="row">
        <div class="col-md-6">
            <h1 class="display-4">Visualização: Setor</h1>
        </div>
        <div class="col-md-6">
            <div class="d-grid gap-2 d-md-flex justify-content-md-end">
                <a class="btn btn-primary" role="button" asp-area="" asp-controller="Setor" asp-action="Index">Voltar</a>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-lg-12">
        <div class="card">
            <div class="card-body">
                <label for="inputText" class="col-sm col-form-label">Setor:</label>
                <input type="text" class="form-control" id="setor" name="setor" asp-for="setor" readonly />
                <br />
            </div>
        </div>
    </div>
</div>

