@model OffshoreTrack.Models.Permissao

@{
    ViewData["Title"] = "New";
}

<div class="pagetitle">
    <h1 class="display-4"> Cadastrar: Permissão</h1>
</div>

<div class="row">
    <div class="col-lg-12">
        <div class="card">
            <div class="card-body">
                <form method="post" asp-action="Create">

                    <label for="inputText" class="col-sm col-form-label">Permissão:</label>
                    <input type="text" class="form-control" id="nome_permissao" name="nome_permissao" asp-for="nome_permissao" />
                    <br />
                    <label><input type="checkbox" asp-for="pode_criar"> Pode Criar</label><br />
                    <br>
                    <label><input type="checkbox" asp-for="pode_ler"> Pode Ler</label><br />
                    <br>
                    <label><input type="checkbox" asp-for="pode_atualizar"> Pode Atualizar</label><br />
                    <br>
                    <label><input type="checkbox" asp-for="pode_deletar"> Pode Deletar</label><br />
                    <br>
                    <label><input type="checkbox" asp-for="permissao_admin"> Permissão de Administrador</label><br />
                    <br>
                    <button type="submit" class="btn btn-primary" name="submit" value="submit">Cadastrar</button>
                </form>
            </div>
        </div>
    </div>
</div>

@section Scripts
{
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.mask/1.14.16/jquery.mask.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.inputmask/3.3.4/jquery.inputmask.bundle.min.js"></script>
}
