@model OffshoreTrack.Models.Usuario

@{
    ViewData["Title"] = "New";
}

<div class="pagetitle">
    <h1 class="display-4"> Cadastrar: Usuário</h1>
</div>

<div class="row">
    <div class="col-lg-12">
        <div class="card">
            <div class="card-body">
                <form method="post" action="Create">

                    <label for="inputText" class="col-sm col-form-label">Nome:</label>
                    <input type="text" class="form-control" id="nome" name="nome" asp-for="nome" />
                    <br />

                    <label for="inputText" class="col-sm col-form-label">CPF:</label>
                    <input type="text" class="form-control" id="cpf" name="cpf" asp-for="cpf" />
                    <br />

                    <div class="row">
                        <div class="col">
                            <label for="inputText" class="col-sm col-form-label">Senha:</label>
                            <input type="password" class="form-control" id="senha" name="senha" asp-for="senha" />
                            <br />
                        </div>
                        <div class="col">
                            <label for="inputText" class="col-sm col-form-label">Confirma Senha:</label>
                            <input type="password" class="form-control" id="senha2" name="senha2"/>
                            <br />
                        </div>
                    </div>
                    
                    <label for="inputText" class="col-sm col-form-label">Usuário:</label>
                    <input type="text" class="form-control" id="usuario" name="usuario" asp-for="usuario" required />

                    <label for="inputText" class="col-sm col-form-label">E-mail:</label>
                    <input type="email" class="form-control" id="email" name="email" asp-for="email" required />

                    <div class="form-group">
                        <label asp-for="id_permissao" class="col-form-label">Permissão:</label>
                        <select asp-for="id_permissao" class="form-control" asp-items="@ViewBag.PermissaoList" required></select>
                        <span asp-validation-for="id_permissao" class="text-danger"></span>
                    </div>
                    <br />

                    <button type="submit" class="btn btn-primary" name="submit" value="submit">Cadastrar</button>
                </form>
            </div>
        </div>
    </div>
</div>

@section Scripts
{
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.mask/1.14.16/jquery.mask.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.inputmask/3.3.4/jquery.inputmask.bundle.min.js"></script>
}
