@model List<OffshoreTrack.Models.Moeda>
@{
    ViewData["Title"] = "Index";
}

<div class="pagetitle">
    <div class="row">
        <div class="col-md-6">
            <h1 class="display-4">Moedas</h1>
        </div>
        <div class="col-md-6">
            <div class="d-grid gap-2 d-md-flex justify-content-md-end">
                <a class="btn btn-primary" role="button" asp-area="" asp-controller="Moeda" asp-action="New"> Cadastrar novo </a>
            </div>
        </div>
    </div>
</div>


<div class="row">
    <div class="col-lg-12">

        <div class="card">
            <br />
            <div class="card-body">
                <table class="table table-striped" id="tableMoeda">
                    <thead>
                        <tr>
                            <th scope="col">Moeda</th>
                            <th scope="col">Símbolo</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>@item.moeda_descricao</td>
                                <td>@item.simbolo</td>
                                <td>
                                    <a class="btn btn-success" href="Moeda/Edit/@item.id_moeda"><i class="bi bi-pencil"></i></a>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>

    </div>
</div>

@section Scripts {
    <script>
        $(document).ready(function() {
            $('#tableFormaPagamento').DataTable();
        });
    </script>
    }
