@model List<OffshoreTrack.Models.Contrato>
@{
    ViewData["Title"] = "Index";
}

<div class="pagetitle">
    <div class="row">
        <div class="col-md-6">
            <h1 class="display-4">Contratos</h1>
        </div>
        <div class="col-md-6">
            <div class="d-grid gap-2 d-md-flex justify-content-md-end">
                <a class="btn btn-primary" role="button" asp-area="" asp-controller="Contrato" asp-action="New"> Cadastrar novo </a>
            </div>
        </div>
    </div>
</div>


<div class="row">
    <div class="col-lg-12">

        <div class="card">
            <br />
            <div class="card-body">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th scope="col">Contrato</th>
                            <th scope="col">Data Início</th>
                            <th scope="col">Data Fim</th>
                            <th scope="col">Status</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>@item.contrato</td>
                                <td>@item.dataInicio.ToShortDateString()</td>
                                <td>@(item.dataFim.HasValue ? item.dataFim.Value.ToShortDateString() : "N/A")</td>
                                <td>@item.status?.status</td>
                                <td>
                                    <a class="btn btn-primary" href="Contrato/Read/@item.id_contrato"><i class="bi bi-eye"></i></a>
                                    <a class="btn btn-success" href="Contrato/Edit/@item.id_contrato"><i class="bi bi-pencil"></i></a>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>

    </div>
</div>

