@model OffshoreTrack.Models.Fornecedor
@{
ViewData["Title"]="Edit";
}

<div class="pagetitle">
    <div class="row">
        <div class="col-md-6">
            <h1 class="display-4">Editar: Fornecedor</h1>
        </div>

        <div class="col-md-6">
            <div class="d-grid gap-2d-md-flex justify-content-md-end">
                <a class="btn btn-primary"role="button"asp-area=""asp-controller="Fornecedor"asp-action="Index">Voltar</a>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-lg-12">
        <div class="card">
            <div class="card-body">

                <form method="post" action="/Fornecedor/Update">
                    <input type="hidden" asp-for="id_fornecedor" />

                    <label for="inputText" class="col-sm col-form-label">Fornecedor:</label>
                    <input type="text" class="form-control" id="fornecedor" asp-for="fornecedor" />
                    <br/>

                    <label for="inputText" class="col-sm col-form-label">Razão Social:</label>
                    <input type="text" class="form-control" id="razaoSocial" asp-for="razaoSocial" />
                    <br/>

                    <label for="inputText" class="col-sm col-form-label">CNPJ:</label>
                    <input type="text" class="form-control" id="cnpj" asp-for="cnpj" />
                    <br/>

                    <div class="row">
                        <div class="col">
                            <label for="inputText" class="col-sm col-form-label">Inscrição Estadual:</label>
                            <input type="text" class="form-control"  asp-for="inscricaoEstadual" />
                        </div>
                        <div class="col">
                            <label for="inputText" class="col-sm col-form-label">Inscrição Municipal:</label>
                            <input type="text" class="form-control" asp-for="inscricaoMunicipal" />
                        </div>
                    </div>
                    <br>

                    <label for="inputText" class="col-sm col-form-label">Endereço:</label>
                    <input type="text" class="form-control" id="endereco" asp-for="endereco" />
                    <br/>

                    <label for="inputText" class="col-sm col-form-label">Telefone:</label>
                    <input type="phone" class="form-control" id="telefone" asp-for="telefone" />
                    <br/>

                    <label for="inputText" class="col-sm col-form-label">E-mail:</label>
                    <input type="mail" class="form-control" id="email" asp-for="email" />
                    <br/>

                    <label for="inputText" class="col-sm col-form-label">Vendedor:</label>
                    <input type="text" class="form-control" id="vendedor" asp-for="vendedor" />
                    <br/>

                    <div class="d-grid gap-2 d-md-flex justify-content-md-end">
                        <button type="submit" class="btn btn-success" name="submit" value="submit">Atualizar</button>
                </form>
                <form method="post"action="/Fornecedor/Delete">
                    <input type="hidden"asp-for="id_fornecedor"/>
                    <button type="submit"class="btn btn-danger">Deletar</button>
                </form>
                    </div>
        </div>
    </div>
</div>

@section Scripts
{
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.mask/1.14.16/jquery.mask.min.js"></script>

    <script type="text/javascript">
        $(document).ready(function(){
            $('#cnpj').mask('00.000.000/0000-00');
        });
    </script>
}
