@model OffshoreTrack.Models.Fornecedor
@{
    ViewData["Title"] = "New";
}

<div class="pagetitle">
    <h1 class="display-4"> Cadastrar: Fornecedor</h1>
</div>

<div class="row">
    <div class="col-lg-12">
        <div class="card">
            <div class="card-body">
                <form method="post" action="Create">

                    <label for="inputText" class="col-sm col-form-label">Fornecedor:</label>
                    <input type="text" class="form-control" id="fornecedor" name="fornecedor" asp-for="fornecedor" />
                    <br />

                    <label for="inputText" class="col-sm col-form-label">Razão Social:</label>
                    <input type="text" class="form-control" id="razaoSocial" name="razaoSocial" asp-for="razaoSocial" />
                    <br />

                    <label for="inputText" class="col-sm col-form-label">CNPJ:</label>
                    <input type="text" class="form-control" id="cnpj" name="cnpj" asp-for="cnpj" />
                    <br />

                    <div class="row">
                        <div class="col">
                            <label for="inputText" class="col-sm col-form-label">Inscrição Estadual:</label>
                            <input type="text" class="form-control" id="inscricaoEstadual" name="inscricaoEstadual" asp-for="inscricaoEstadual" />
                        </div>
                        <div class="col">
                            <label for="inputText" class="col-sm col-form-label">Inscrição Municipal:</label>
                            <input type="text" class="form-control" id="inscricaoMunicipal" name="inscricaoMunicipal" asp-for="inscricaoMunicipal" />
                        </div>
                    </div>
                    <br>

                    <label for="inputText" class="col-sm col-form-label">Endereço:</label>
                    <input type="text" class="form-control" id="endereco" name="endereco" asp-for="endereco" />
                    <br />

                    <label for="inputText" class="col-sm col-form-label">Telefone:</label>
                    <input type="text" class="form-control" id="telefone" name="telefone" asp-for="telefone" />
                    <br />

                    <label for="inputText" class="col-sm col-form-label">E-mail:</label>
                    <input type="mail" class="form-control" id="email" name="email" asp-for="email" />
                    <br />

                    <label for="inputText" class="col-sm col-form-label">Vendedor:</label>
                    <input type="mail" class="form-control" id="vendedor" name="vendedor" asp-for="vendedor" />
                    <br />

                    <button type="submit" class="btn btn-primary" name="submit" value="submit">Cadastrar</button>
                </form>
            </div>
        </div>
    </div>
</div>

@section Scripts
{
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.mask/1.14.16/jquery.mask.min.js"></script>

    <script type="text/javascript">
        $(document).ready(function(){
            $('#cnpj').mask('00.000.000/0000-00');
        });
    </script>
}
