@model OffshoreTrack.Models.Manutencao

@{
    ViewData["Title"] = "New";
}
<div class="pagetitle">
    <h1 class="display-4"> Cadastrar: Manutenção</h1>
</div>

<div class="row">
    <div class="col-lg-12">
        <div class="card">
            <div class="card-body">
                <form method="post" action="Create">

                    <label for="inputText" class="col-sm col-form-label">Manutenção:</label>
                    <input type="text" class="form-control" id="manutencao" name="manutencao" asp-for="manutencao" />
                    <br />

                    <label for="inputText" class="col-sm col-form-label">Descrição:</label>
                    <input type="text" class="form-control" id="descricao" name="descricao" asp-for="descricao" />
                    <br />

                    <div class="form-group">
                        <label asp-for="id_material" class="col-sm col-form-label">Material:</label>
                        <select asp-for="id_material" class="form-control" asp-items="@ViewBag.material"></select>
                        <span asp-validation-for="id_material" class="text-danger"></span>
                    </div>
                    <br />

                    <div class="form-group">
                        <label asp-for="id_setor" class="col-sm col-form-label">Setor:</label>
                        <select asp-for="id_setor" class="form-control" asp-items="@ViewBag.setor"></select>
                        <span asp-validation-for="id_setor" class="text-danger"></span>
                    </div>
                    <br />

                    <div class="form-group">
                        <label asp-for="id_fornecedor" class="col-sm col-form-label">Fornecedor:</label>
                        <select asp-for="id_fornecedor" class="form-control" asp-items="@ViewBag.fornecedor"></select>
                        <span asp-validation-for="id_fornecedor" class="text-danger"></span>
                    </div>
                    <br />

                    <div class="form-group">
                        <label asp-for="id_criticidade" class="col-sm col-form-label">Criticidade:</label>
                        <select asp-for="id_criticidade" class="form-control" asp-items="@ViewBag.criticidade"></select>
                        <span asp-validation-for="id_criticidade" class="text-danger"></span>
                    </div>
                    <br />

                    <button type="submit" class="btn btn-primary" name="submit" value="submit">Cadastrar</button>
                </form>
            </div>
        </div>
    </div>
</div>

@section Scripts
{
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.mask/1.14.16/jquery.mask.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.inputmask/3.3.4/jquery.inputmask.bundle.min.js"></script>
}