@model OffshoreTrack.Models.Cliente

@{
    ViewData["Title"] = "New";
}

<div class="pagetitle">
    <h1 class="display-4"> Cadastrar: Cliente</h1>
</div>

<div class="row">
    <div class="col-lg-12">
        <div class="card">
            <div class="card-body">
                <form method="post" action="Create">

                    <label for="inputText" class="col-sm col-form-label">Cliente:</label>
                    <input type="text" class="form-control" id="cliente" name="cliente" asp-for="cliente" />
                    <br />

                    <label for="inputText" class="col-sm col-form-label">CNPJ:</label>
                    <input type="text" class="form-control" id="cnpj" name="cnpj" asp-for="cnpj" />
                    <br />

                    <button type="submit" class="btn btn-primary" name="submit" value="submit">Cadastrar</button>
                </form>
            </div>
        </div>
    </div>
</div>

@section Scripts
{
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.mask/1.14.16/jquery.mask.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.inputmask/3.3.4/jquery.inputmask.bundle.min.js"></script>

}
