@model List<OffshoreTrack.Models.Usuario>
@{ 
    Layout = "_LoginLayout";
    ViewData["Title"]="Login";

}
<form method="post">  
    <div class="col-12">
        <label class="form-label">Usuário</label>
        <div class="input-group mb-3">
            <input type="text" class="form-control" id="usuario" name="usuario" required>
        </div>
        <br>
    </div>
    <div class="col-12">
        <label class="form-label">Senha</label>
        <div class="input-group mb-3">
            <input type="password" class="form-control" id="senha" name="senha" required>
        </div>
    </div>
    <br>
        <input class="btn btn-primary w-100 py-2" type="submit" value="Login" />
    <br>
</form>
<br>
