@model OffshoreTrack.Models.Rateio
@{
ViewData["Title"]="Edit";
}

<div class="pagetitle">
    <div class="row">
        <div class="col-md-6">
            <h1 class="display-4">Editar: Rateio</h1>
        </div>

        <div class="col-md-6">
            <div class="d-grid gap-2d-md-flex justify-content-md-end">
                <a class="btn btn-primary"role="button"asp-area=""asp-controller="Rateio"asp-action="Index">Voltar</a>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-lg-12">
        <div class="card">
            <div class="card-body">

                <form method="post" action="/Rateio/Update">
                    <label for="inputText" class="col-sm col-form-label">Rateio:</label>
                    <input type="text" class="form-control" id="rateio" name="rateio" asp-for="rateio" />
                    <br />
                    <div class="row">
                        <div class="col">
                            <div class="form-group">
                                <label asp-for="id_setor1" class="col-form-label">Setor 1:</label>
                                <select asp-for="id_setor1" class="form-control" asp-items="@ViewBag.setores1"></select>
                                <span asp-validation-for="id_setor1" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="col">
                            <div class="form-group">
                                <label for="inputText" class="col-sm col-form-label">Porcentagem 1:</label>
                                <input type="text" min="1" max="100" class="form-control" id="valor1" name="valor1" asp-for="valor1" />
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col">
                            <label asp-for="id_setor2" class="col-form-label">Setor 2:</label>
                            <select asp-for="id_setor2" class="form-control" asp-items="@ViewBag.setores2"></select>
                            <span asp-validation-for="id_setor2" class="text-danger"></span>
                        </div>
                        <div class="col">
                            <div class="form-group">
                                <label for="inputText" class="col-sm col-form-label">Porcentagem 2:</label>
                                <input type="text" min="1" max="100" class="form-control" id="valor2" name="valor2" asp-for="valor2" />
                            </div>
                        </div>
                    </div>
                    <br>

                    <div class="d-grid gap-2 d-md-flex justify-content-md-end">
                        <button type="submit" class="btn btn-success" name="submit" value="submit">Atualizar</button>
                </form>
                <form method="post"action="/Rateio/Delete">
                    <input type="hidden"asp-for="id_rateio"/>
                    <button type="submit"class="btn btn-danger">Deletar</button>
                </form>
                    </div>
        </div>
    </div>
</div>
@section Scripts
{
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.mask/1.14.16/jquery.mask.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.inputmask/3.3.4/jquery.inputmask.bundle.min.js"></script>
    <script>
        $(document).ready(function(){
        $("input[name='valor1']").on('input', function() {
            $(this).val(function(i, v) {
            return v.replace('%','') + '%';  });
            });
        });
        $(document).ready(function(){
        $("input[name='valor2']").on('input', function() {
            $(this).val(function(i, v) {
            return v.replace('%','') + '%';  });
            });
        });
    </script>
}

