@model OffshoreTrack.Models.Rateio

@{
    ViewData["Title"] = "New";
}

<div class="pagetitle">
    <h1 class="display-4"> Cadastrar: Rateio</h1>
</div>

<div class="row">
    <div class="col-lg-12">
        <div class="card">
            <div class="card-body">
<form method="post" action="Create">
    <label for="inputText" class="col-sm col-form-label">Rateio:</label>
    <input type="text" class="form-control" id="rateio" asp-for="rateio" />
    <br />
    <div class="row">
        <div class="col">
            <div class="form-group">
                <label asp-for="id_setor1" class="col-form-label">Setor 1:</label>
                <select class="form-control" asp-for="id_setor1" asp-items="@ViewBag.setores1"></select>
                <span asp-validation-for="id_setor1" class="text-danger"></span>
            </div>
        </div>
        <div class="col">
            <div class="form-group">
                <label for="inputText" class="col-sm col-form-label">Porcentagem 1 (%):</label>
                <input type="text" min="1" max="100" class="form-control" asp-for="porcentagem1" />
                <span asp-validation-for="porcentagem1" class="text-danger"></span>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col">
            <label asp-for="id_setor2" class="col-form-label">Setor 2:</label>
            <select class="form-control" asp-for="id_setor2" asp-items="@ViewBag.setores2"></select>
            <span asp-validation-for="id_setor2" class="text-danger"></span>
        </div>
        <div class="col">
            <div class="form-group">
                <label for="inputText" class="col-sm col-form-label">Porcentagem 2 (%):</label>
                <input type="text" min="1" max="100" class="form-control" asp-for="porcentagem2" />
                <span asp-validation-for="porcentagem2" class="text-danger"></span>
            </div>
        </div>
    </div>
    <br>
    <button type="submit" class="btn btn-primary" name="submit" value="submit">Cadastrar</button>
</form>
            </div>
        </div>
    </div>
</div>

@section Scripts
{
    <script>
    $(document).ready(function() {
        $('form').submit(function(e) {
            var porcentagem1 = parseFloat($('#porcentagem1').val().replace(',', '.'));
            var porcentagem2 = parseFloat($('#porcentagem2').val().replace(',', '.'));

            if (isNaN(porcentagem1) || isNaN(porcentagem2) || porcentagem1 + porcentagem2 != 100) {
                alert('A soma das porcentagens deve ser 100%');
                e.preventDefault(); // impede a submissão do formulário
            }
        });
    });
    </script>
}
