@model OffshoreTrack.Models.Rateio

@{
    ViewData["Title"] = "New";
}

<div class="pagetitle">
    <h1 class="display-4"> Cadastrar: Rateio</h1>
</div>

<div class="row">
    <div class="col-lg-12">
        <div class="card">
            <div class="card-body">
<form method="post" action="Create">
    <label for="inputText" class="col-sm col-form-label">Rateio:</label>
    <input type="text" class="form-control" id="rateio" asp-for="rateio" />
    <br />
    <div class="row">
        <div class="col">
            <div class="form-group">
                <label asp-for="id_setor1" class="col-form-label">Setor 1:</label>
                <select class="form-control" asp-for="id_setor1" asp-items="@ViewBag.setores1"></select>
                <span asp-validation-for="id_setor1" class="text-danger"></span>
            </div>
        </div>
        <div class="col">
            <div class="form-group">
                <label for="inputText" class="col-sm col-form-label">Porcentagem 1:</label>
                <input type="text" min="1" max="100" class="form-control" asp-for="valor1" />
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col">
            <label asp-for="id_setor2" class="col-form-label">Setor 2:</label>
            <select class="form-control" asp-for="id_setor2" asp-items="@ViewBag.setores2"></select>
            <span asp-validation-for="id_setor2" class="text-danger"></span>
        </div>
        <div class="col">
            <div class="form-group">
                <label for="inputText" class="col-sm col-form-label">Porcentagem 2:</label>
                <input type="text" min="1" max="100" class="form-control" asp-for="valor2" />
            </div>
        </div>
    </div>
    <br>
    <button type="submit" class="btn btn-primary" name="submit" value="submit">Cadastrar</button>
</form>
            </div>
        </div>
    </div>
</div>

@section Scripts
{
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.mask/1.14.16/jquery.mask.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.inputmask/3.3.4/jquery.inputmask.bundle.min.js"></script>
    <script>
        $(document).ready(function(){
            $('form').on('submit', function() {
                $("input[name='valor1']").val(function(i, v) {
                    return v.replace('%','');
                });
                $("input[name='valor2']").val(function(i, v) {
                    return v.replace('%','');
                });
            });

            $("input[name='valor1']").on('input', function() {
                $(this).val(function(i, v) {
                    return v.replace('%','') + '%';
                });
            });
            
            $("input[name='valor2']").on('input', function() {
                $(this).val(function(i, v) {
                    return v.replace('%','') + '%';
                });
            });
        });
    </script>
}
