@model OffshoreTrack.Models.Rateio

@{
    ViewData["Title"] = "Read";
}

<div class="pagetitle"> 
    <div class="row">
        <div class="col-md-6">
            <h1 class="display-4">Visualização: Rateio</h1>
        </div>
        <div class="col-md-6">
            <div class="d-grid gap-2 d-md-flex justify-content-md-end">
                <a class="btn btn-primary" role="button" asp-area="" asp-controller="Rateio" asp-action="Index">Voltar</a>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-lg-12">
        <div class="card">
            <div class="card-body">

                <label for="inputText" class="col-sm col-form-label">Rateio:</label>
                <input type="text" class="form-control" id="rateio" name="rateio" asp-for="rateio" readonly />
                <br />
                <div class="row">
                    <div class="col">
                        <div class="form-group">
                            <label asp-for="setor1.setor" class="col-form-label">Setor 1:</label>
                            <p class="form-control" readonly>@Html.DisplayFor(model => model.setor1.setor)</p>
                        </div>
                    </div>
                    <div class="col">
                        <div class="form-group">
                            <label asp-for="porcentagem1" class="col-sm col-form-label">Porcentagem 1:</label>
                            <input type="text" class="form-control" id="porcentagem1" name="porcentagem1" asp-for="porcentagem1" readonly/>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col">
                        <div class="form-group">
                            <label asp-for="setor2.setor" class="col-form-label">Setor 2:</label>
                            <p class="form-control" readonly>@Html.DisplayFor(model => model.setor2.setor)</p>
                        </div>
                    </div>
                    <div class="col">
                        <div class="form-group">
                            <label asp-for="porcentagem2" class="col-sm col-form-label">Porcentagem 2:</label>
                            <input type="text" class="form-control" id="porcentagem2" name="porcentagem2" asp-for="porcentagem2" readonly/>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>

