@model OffshoreTrack.Models.FormaPagamento
@{
ViewData["Title"]="Edit";
}

<div class="pagetitle">
    <div class="row">
        <div class="col-md-6">
            <h1 class="display-4">Editar: Forma de pagamento</h1>
        </div>

        <div class="col-md-6">
            <div class="d-grid gap-2d-md-flex justify-content-md-end">
                <a class="btn btn-primary"role="button"asp-area=""asp-controller="FormaPagamento"asp-action="Index">Voltar</a>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-lg-12">
        <div class="card">
            <div class="card-body">

                <form method="post" action="/FormaPagamento/Update">
                    <input type="hidden" asp-for="id_formaPagamento" />

                    <label for="inputText" class="col-sm col-form-label">Forma de Pagamento:</label>
                    <input type="text" class="form-control" id="formaPagamento" name="formaPagamento" value="@Model.formaPagamento" />
                    <br/>

                    <label for="inputText" class="col-sm col-form-label">Descrição:</label>
                    <input type="text" class="form-control" id="descricao" name="descricao" value="@Model.descricao" />
                    <br/>

                    <div class="d-grid gap-2 d-md-flex justify-content-md-end">
                    <button type="submit" class="btn btn-success">Atualizar</button>
                </form>
                <form method="post"action="/FormaPagamento/Delete">
                    <input type="hidden"asp-for="id_formaPagamento"/>
                    <button type="submit"class="btn btn-danger">Deletar</button>
                </form>
                    </div>
        </div>
    </div>
</div>

